
.contentt-box{
    width: 100%;
    height: 100%;
    background-image: url(../img/TI_RESTAURANT.jpg);
    background-size: contain ;
    background-repeat: no-repeat;
}
.baner-box{
    width: 100%;
    height: 40rem;
    background: #000000;
    background-color: rgba(0, 0, 0, 0.5);
}
.o-nav li a{
    margin: 0 4px !important;
    padding: 10px;
    -webkit-border-radius: 5 !important;
  -moz-border-radius: 5 !important;
  border-radius: 0.5rem !important;
  color: #ffffff !important;
  font-size: 16px !important;
  text-decoration: none !important;
}
.o-nav li a:hover{
    background: #76c38f !important;
  text-decoration: none !important;
}
.o-nav ul li a.active {
    background-color: #76c38f;
  }


.slider{
    width: 100%;
    margin: auto;
    height: 30rem;
    padding: 2rem;
    color: #ffffff;  
}
.slider .indicators {
    top: 30rem;
    bottom: 15px;
    z-index: 100;
  }
.slider-box{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    position: absolute;
    top: 2rem;
}
.slider-box{
    left: 0;
    right: 0;
}
.slider-text{
    width: 30%;
    height: auto;
    margin-right: 5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}
.slider-text p{
    font-size: 3rem;
}
.slider .indicators .indicator-item {
    background-color: #666666;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .slider .indicators .indicator-item.active {
    background-color: #ffffff;
  }
.slider-box-img{
    width: 20%;
    height: auto;
    padding: 0.5rem;
    margin-right: 5rem;
}
.slider-img{
    width: 23rem;
    height: 23rem;
    border: 1.5rem solid;
    border-color:  rgba(0, 0, 0, 0.8);
    border-radius: 12rem;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}

.img-sepia{
    filter: sepia(100%) !important;
}
.img-grayscale{
    filter: grayscale(100%) !important;
}

.slider .btnSlide{
    margin: 0 4px !important;
    padding: 10px;
    -webkit-border-radius: 5 !important;
  -moz-border-radius: 5 !important;
  border-radius: 0.5rem !important;
  color: #ffffff !important;
  background: #76c38f !important;
  font-size: 16px !important;
border: none;
  text-decoration: none !important;
  cursor: pointer;
}

.services{
    width: 80%;
    margin: auto;
    height: 30rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-content{
    width: 20%;
    height: 100%;
    color: #303030;
    background: #ffffff;
    text-align: center;
    cursor: pointer;
    padding: 2rem;
}
.services-content:hover{
    color: #ffffff;
    background: #76c38f;
}
.services-content-icon{
    margin-top: 2rem;
    font-size: 4rem;
}
.services-content p{
    font-size: 1.2rem;
    text-transform: uppercase;
}




.latestwork{
    text-align: center;
    width: 80%;
    margin: auto;
    height: auto;
}
.latestwork-btn{
    width: 25%;
    margin: auto;
    border: none;
    background: #303030;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Georgia', sans-serif;
}
.latestwork-btn::before, .latestwork-btn::after{
    content: '';
    position: absolute;
    width: 26%;
    height: 0.25rem;
    top: 71.75rem;
    border-bottom: 0.25rem solid #303030;
}
.latestwork-btn::before{
    left: 14.25rem;
}
.latestwork-btn::after{
    right: 14.25rem;
}
.latestwork-box-img{
    width: 100%;
    margin: auto;
    height: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.latestwork-img{
    width: 20rem;
    height: 20rem;
    border: 0.5rem solid #ffffff;
    margin: 1rem;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}
.latestwork-img:hover{
    border-color: #76c38f;
}




.footer-box{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}
.footer{
    width: 80%;
    margin: auto;
    padding: 3rem;
    height: 20rem; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #d4d4d4;
}
.footer-inside-box form button{
    width: 5rem;
    height: auto;
    margin-top: 1rem;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: #76c38f;
    color: #000000;
    cursor:pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Georgia', sans-serif;
}
/*-------- media queris for laptops --------------*/
@media(max-width: 1024px){
    .header{
        width: 100%;
    }
    .baner-box{
        height: 32rem;
    }
    .slider-box, .slider-box-left, .slider-box-right{
        top: 6rem;
    }
    .slider-box-img{
        margin-right: 0;
    }
    .slider-img{
        width: 15rem;
        height: 15rem;
        
        border: 1rem solid;
        border-color:  rgba(0, 0, 0, 0.8);
    }
    .services{
        width: 100%;
    }
    .services-box{
        padding: 0.5rem;
    }
    .latestwork-btn{
        width: 35%;
    }
    .latestwork-btn::before, .latestwork-btn::after{
        width: 30%;
        top: 63.75rem;
    }
    .latestwork-btn::before{
        left: 4rem;
    }
    .latestwork-btn::after{
        right: 4rem;
    }
    .footer{
        align-items: center;
    }
    .footer, .copyright{
        width: 100%;
        padding: 2rem;
    }
    .footer-inside-box{
        width: 25%;
        height: 20rem;
        margin-top: 1rem;
    }
}
/*-------- media queris for tablets --------------*/

@media(max-width: 768px){
    .header-logo{
        width: 50%;
    }
    .header-nav ul{
        width: 100%;
        flex-wrap: wrap;
    }
    .slider{
        padding: 0;
    }
    .slider-box, .slider-box-left, .slider-box-right{
        padding: 1rem;
        height: 26rem;
        flex-wrap:nowrap;
    }
    .slider-box-left{
        padding-left: 3rem;
    }
    .slider-text{
        width: 60%;  
        margin-right: 0;
    }
    .slider-box-img{
        width: 40%;  
    }
    .slider-btn-left, .slider-btn-center, .slider-btn-middle, .slider-btn-right, .slider-btn-center-fixed{
    margin: 0;
    }
    .services{
        width: 100%;
        padding: 1.2rem;
        justify-content: space-around;
        flex-wrap: wrap;
        height: auto;
    }
    .services-box{
        width: 40%;
        margin: 1.5rem;
    }
    .latestwork{
        width: 100%;
    }
    .latestwork-btn::before, .latestwork-btn::after{
        width: 27%;
        top: 75.75rem;
    }
    .footer-box{
        font-size: 0.8rem;
    }
    .footer-inside-box{
        width: 20%;
        height: 18rem;
    }
}
/*-------- media queris for mobile --------------*/

@media(max-width: 425px){
    .header{
        justify-content: center;
        flex-wrap: wrap;
    }
    .header-logo{
        width: 100%;
        text-align: center;
    }
    .header-mobile-nav-btn{
        top: 2rem;
        right: 2rem;
    }
    .header-nav{
        width: 100%;
        position: absolute;
        top: 6rem;
        background-color: rgba(0, 0, 0, 0.5);
        transform: translateX(-100%);
        transition: 0.3s transform linear;
        z-index: 2;
    }
    .header-mobile-nav-btn:focus ~ .header-nav, .header-nav:hover{
        transform: translateX(0);
}
    .slider{
        margin-top: 10rem;
        width: 100%;
        height: auto;
        font-size: 1rem;
        flex-wrap: wrap;
    }
    .slider-box, .slider-box-left, .slider-box-right{
        width: 100%;
        padding: 0;
        text-align: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .slider-box-left{
        margin-left: 1rem;
    }
    .slider-box{
        padding-left: 1rem;
    }
    .slider-text{
        width: 80%;
        margin: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .slider-text p{
        font-size: 1.25rem;
    }
    .slider-box-img{
        width: 40%;  
        margin: auto;
    }
    .slider-img{
        width: 10rem;
        height: 10rem;
    }
    .slider-btn-right-fixed{
        width: auto;
        height: auto;
        border: none;
        margin-left: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background: none;
        font-weight: bold;
        font-size: 2rem;
        color: #ffffff;
        cursor: pointer; 
        font-family: 'Georgia', sans-serif;
        position: absolute;
        top: 22.75rem; 
    }
    .slider-btn-center-fixed{
        visibility: visible;
    }
    .slider-btn-center{
        visibility: hidden;
    }
    .slider-btn-right-fixed{
        visibility: visible;
    }
    .slider-btn-right{
        visibility: hidden;
    }
    .slider-btn-left, .slider-btn-center, .slider-btn-middle, .slider-btn-right{
    margin: 0;
    padding: 0.5rem;
}
    .services-box{
        width: 60%;
        padding: 1rem;
    }
    .latestwork-btn{
        width: 70%;
    }
    .latestwork-btn::before, .latestwork-btn::after{
        visibility: hidden;
    }
    .footer{
        height: 0.1rem;
        padding: 0;
        flex-wrap: wrap;
        visibility: hidden;
    }

}
/*-------- media queris for small mobile --------------*/

@media(max-width: 375px){
    .header-logo{
        width: 100%;
    }
    .header-mobile-nav-btn{
        top: 2rem;
        right: 1rem;
    }
    .slider-box .slider-text{
        padding-left: 1rem;
    }
    .slider-box-img{
        width: 40%;
    }
    .slider-img{
        border-width: 0.75rem;
        width: 7.5rem;
        height: 7.5rem;
    }
    .slider-btn-right-fixed{
        margin-left: 2rem;
    }

}
@media(max-width: 320px){
    .header-mobile-nav-btn{
        top: -0.5rem;
    }
    .slider-btn-right-fixed{
        margin-left: 1rem;
    }
}